.App {
  min-height:100vh;
  background-color:#c6DBDA;
}

.form{
  min-height:10vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
h1{
  margin:0px;
  text-align:center;
}

.bar{
  width:50%;
  border:none;
  padding:10px;
}

.button{
  background-color:#F6EAC2;
  border:none;
  padding:10px 20px;
  color:white;
}
button:hover{
  cursor:pointer;
  background-color:green;
}
.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}